<div class="container-fluid">
    <div class="card mb-3" style="max-width: 100%;">
        <div class="row g-1">
            <div class="col-mb- ">
                <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGvtvHM1wuW-g/profile-displayphoto-shrink_200_200/0/1601910337064?e=1618444800&v=beta&t=NfpAUs4QiXceYA5qPIqmQsb6PeDvmaOwYMS1fiyMhnc"
                    alt="foto perfil">
            </div>
            <div class="col-xl-8">
                <div class="card-body">
                    <h5 class="card-title">Talitha Stella</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #5bc751;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>